.header-container {
  display: flex;
  width: 125px;
  height: auto;
  z-index: 401;
  border-radius: 70px;
  opacity: 0.9;
  justify-content: center;
  align-content: center;
  right: 0;
  position: absolute;
  background: #108dc7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ef8e38, #108dc7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-city {
  opacity: 1;
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
}

.header-title {
  font-size: 30px;
  opacity: 1;
  font-weight: bold;
  align-self: end;
  justify-self: center;
  font-family: 'Faster One', cursive;
}

/* .header-subtitle {
  opacity: 1;
  grid-column: 3 / span 2;
  align-self: start;
  justify-self: left;
  padding: 10px;
  font-size: 12px;
  font-family: 'Vampiro One', cursive;
} */
